<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Canonical HTTPS and www" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTPS}" pattern="^OFF$" ignoreCase="true" />
            <add input="{HTTP_HOST}" pattern="^www\.lakeoilgroup\.com$" negate="true" />
          </conditions>
          <action type="Redirect" url="https://www.lakeoilgroup.com/{R:1}" appendQueryString="true" redirectType="Permanent" />
        </rule>
        <rule name="Legacy ACFS" stopProcessing="true"><match url="^acfs\.html$" /><action type="Redirect" url="/index.html" redirectType="Permanent" /></rule>
        <rule name="Legacy ATL" stopProcessing="true"><match url="^atl\.html$" /><action type="Redirect" url="/index.html" redirectType="Permanent" /></rule>
        <rule name="Legacy Ocean Galleria" stopProcessing="true"><match url="^ocean-galleria\.html$" /><action type="Redirect" url="/index.html" redirectType="Permanent" /></rule>
        <rule name="Legacy Lake Agro home" stopProcessing="true"><match url="^la-(?:home|projects)\.html$" /><action type="Redirect" url="/lake-agro.html" redirectType="Permanent" /></rule>
        <rule name="Legacy Fuel" stopProcessing="true"><match url="^fuel\.html$" /><action type="Redirect" url="/lake-oil.html" redirectType="Permanent" /></rule>
        <rule name="Legacy LPG" stopProcessing="true"><match url="^lpg\.html$" /><action type="Redirect" url="/lake-gas.html" redirectType="Permanent" /></rule>
        <rule name="Legacy Lubricants" stopProcessing="true"><match url="^lubricants\.html$" /><action type="Redirect" url="/lake-lubes.html" redirectType="Permanent" /></rule>
        <rule name="Legacy Steel" stopProcessing="true"><match url="^steel\.html$" /><action type="Redirect" url="/lake-steel.html" redirectType="Permanent" /></rule>
        <rule name="Legacy Concrete" stopProcessing="true"><match url="^concrete\.html$" /><action type="Redirect" url="/lake-premix-cement.html" redirectType="Permanent" /></rule>
        <rule name="Legacy Logistics" stopProcessing="true"><match url="^logistics\.html$" /><action type="Redirect" url="/lake-trans.html" redirectType="Permanent" /></rule>
        <rule name="Legacy Container Services" stopProcessing="true"><match url="^(?:container-services|services)\.html$" /><action type="Redirect" url="/aficd.html" redirectType="Permanent" /></rule>
      </rules>
    </rewrite>
    <staticContent>
      <remove fileExtension=".webp" /><mimeMap fileExtension=".webp" mimeType="image/webp" />
      <remove fileExtension=".svg" /><mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <remove fileExtension=".woff2" /><mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <remove fileExtension=".json" /><mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".webmanifest" /><mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
      <remove fileExtension=".js" /><mimeMap fileExtension=".js" mimeType="text/javascript" />
      <remove fileExtension=".jpg" /><mimeMap fileExtension=".jpg" mimeType="image/jpeg" />
      <remove fileExtension=".jpeg" /><mimeMap fileExtension=".jpeg" mimeType="image/jpeg" />
      <remove fileExtension=".png" /><mimeMap fileExtension=".png" mimeType="image/png" />
      <remove fileExtension=".ico" /><mimeMap fileExtension=".ico" mimeType="image/x-icon" />
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="00:05:00" />
    </staticContent>
    <urlCompression doStaticCompression="true" doDynamicCompression="false" />
    <httpCompression>
      <staticTypes>
        <remove mimeType="text/html" /><add mimeType="text/html" enabled="true" />
        <remove mimeType="text/css" /><add mimeType="text/css" enabled="true" />
        <remove mimeType="text/javascript" /><add mimeType="text/javascript" enabled="true" />
        <remove mimeType="application/json" /><add mimeType="application/json" enabled="true" />
        <remove mimeType="image/svg+xml" /><add mimeType="image/svg+xml" enabled="true" />
      </staticTypes>
    </httpCompression>
    <httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <location path="assets">
    <system.webServer><staticContent><clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" /></staticContent></system.webServer>
  </location>
  <location path="sw.js">
    <system.webServer><httpProtocol><customHeaders><add name="Cache-Control" value="no-cache, no-store, must-revalidate" /></customHeaders></httpProtocol></system.webServer>
  </location>
</configuration>
